<div class="home-banner">
  <div class="home-banner-content">
    <div class='home-punchline-container'>
    <div class="home-logo">
      <%= image_tag('logo.svg', class:'logo-width') %>
    </div>
      <div class="home-punchline">
        EMAIL A VALIDER
      </div>
    </div>
    <div class="home-banner-anchor">
      <a href='#wrapper'><%= image_tag('arrow.svg') %></a>
    </div>
  </div>
</div>
<!-- <div class="home-position"> -->
  <div class="home-wrapper bg-dark-grey" id='wrapper'>
    <div class="home-infos-container">
      <div class="home-infos text-center">
        <p>Vous êtes l’enquêteur d’une affaire criminelle. 1 vin est retrouvé sur les lieux du crime. Goutez-le et grâce à lui désignez le coupable!!</p>
      </div>
    </div>
    <div class="home-image text-center">
      <%= image_tag('home_scene.png', class: "center fit") %>
    </div>
  </div>
  <div class="home-game text-center">
    <%= link_to wines_path, class: "text-center" do %>
    <%= image_tag('home_bottle.svg', height: '50%', width: '50%') %>
      <div class="home-btn"><h4>J'enquête!</h4></div>
    <% end %>
  </div>

