<div class="wine-banner">
  <div class="wine-banner-content">
    <div class='wine-punchline-container'>
      <div class="pro-home-punchline punch-bottom">
        <h3>JE VEUX JOUEEEEEER!!</h3>
      </div>
    </div>
  </div>
</div>

<div class="game-cards">
  <div class="game-title">
    <h3>Rejoindre une partie</h3>
  </div>
  <ul class="list-unstyled list">
    <% if @progips != nil %>
      <% @progips.each do |gip| %>
        <li class="list__item">
          <figure class="list__item__inner">
            <%=link_to wine_game_user_game_user_sessions_path(gip.game.wine.id, gip, GameUserSession.new), method: :post do %>
              <div class="game-card-hover">
                <div class="game-card-img-dashed">
                  <div class="game-card-img" style="background-image: url('<%= gip.photo ? cl_image_path(gip.photo.path, :quality => 75) : asset_path('temp_wine_img.png') %>')">
                  </div>
                </div>
                <figcaption>
                  <div class="pro-game-card">
                    <div class="pro-game-card-content">
                      <% if gip.company_name %>
                        <h3 class="text-center"><%= gip.company_name %></h3>
                      <% else %>
                        <h3>Jeu pour entreprise</h3>
                      <% end %>
                    </div>
                    <div class="pro-game-card-content-left">
                      <h4>

                      </h4>
                    </div>
                  </div>
                  <% if gip.user != current_user %>
                    <div class="wine-show-form text-center">
                      <%= simple_form_for [gip.game.wine, gip, GameUserSession.new] do |f| %>
                          <%= f.input :session_password, label: "Donne le mot de passe..." %>
                          <%= f.submit "SI TU L'OSES!!", class: "sign-btn game-btn" %>
                        <% end %>
                    </div>
                  <% end %>
                </figcaption>
              </div>
            <% end %>
          </figure>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
