<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@wine, GameUser.new] do |f| %>
        <h2 class="text-center">Choisir les vins du jeu</h2>
        <%= f.simple_fields_for :game_suspects, [GameSuspect.new]*2 do |game_suspect|  %>
          <%= game_suspect.input :wine, id: game_suspect,  collection: @wines_for_select %>
          <%= f.hidden_field :game_id, value: Wine.find(@wine).games.where(game_category_id: 3).ids.first %>
      </br>
        <% end %>
        <%= f.input :company_name %>
        <%= f.input :photo, as: :attachinary %>
        <div class="text-center"><span class="flex padded-top padded-bot"><%= f.button :submit, "#{@submit_label}", class: "btn btn-primary" %></span></div>
      <% end %>
      </br>
      </br>
    </div>
  </div>
</div>
